html,
body {
  background-color: #2b2e3b;
  -webkit-app-region: drag;
}
#inputPath {
  background-color: #3a585f;
  border: 1px solid #9feaf9;
  color: #9feaf9;
  width: 680px;
  border-radius: 25px;
  padding: 3px 10px;
  font-size: 17px;
}
#inputPath:focus {
  background-color: white;
  color: #2b2e3b;
  outline: 25px;
}
#inputPath::placeholder {
  color: #6798a2;
}
#inputPath:focus::placeholder{
  color: #6798a2;
}
#openButton {
  background-color: #6798a2;
  -webkit-app-region: no-drag;
  color:#2b2e3b;
  border: none;
  border-radius: 25px;
  height: 24px;
}
#openButton:focus {
  background-color: #9feaf9;
  outline: none;
}
#openButton:hover {
  background-color: #9feaf9;
}
#openButton:active {
  background-color: #6798a2;
}
.mainContent {
  margin-left: 10px;
  margin-top: 30px;
}
.example {
  color: #6798a2;
  margin:11px 0px 10px 20px;
}
.alertArea {
  color: #FF33CC;
  margin:20px 0px 0px 100px;
}
